/* Ensure the parent container is positioned correctly */
.bg-image {
  position: relative;
  background-image: url('../../assets/images/abouthero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  overflow: hidden; /* Hide overflow */
}

.about-title {
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.about h2 {
  color: #FFF;
  font-family: "League Spartan";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;

}

.about {
  margin-top: 60px;
}

.swiper-content-bg {
 overflow: hidden;
 
  
}

.swiper-content-bg p {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Lato';
  font-weight: 700;
word-wrap: break-word;
white-space: wrap;
max-width: 700px;
margin-bottom: 70px;
margin-left: 280px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after {
  content: '';
}

.swiper-button-prev::after, 
.swiper-button-next::after {
 
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  left: 90px; 
  margin-top: -90px;
}

.swiper-button-next{
  right: 70px; 
  margin-top: -90px;
}

.abouttwo{

}

/*
.swiper-pagination {
  position: relative;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

 .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 1px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  background: white;
  width: 19px;
  height: 19px;
}*/

