

footer {
  background: #f3f3f3;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
}


footer ul{
  list-style: none;
}


footer ul li{
  margin-bottom: 20px;
  text-align: start;
  margin-left: -30px;
  font-size: 15px;
font-family: 'Lato';
font-weight: 600;
}

a{
  color: black;
}

footer h4{
  text-align: left;
  margin-bottom: 10px;
}

footer hr{
  border: 3px black solid;
  border-radius: 10px;
}


footer i{
  margin-right: 20px;
  font-size: 20px;
}

footer img{
margin-top: -50px;
  margin-right: 20px;
}

footer .socials{
  text-align: start;
}

@media (max-width: 760px) {
  .copy{
    margin-top: 10px;
  }

  footer img{
    margin-top: -70px;
      margin-right: 20px;
    }
    
    footer i{
      margin-bottom: 40px;
    }

    footer ul li{
      font-size: 12px;
    font-weight: 400;
    }
}

