footer {
  background: #f3f3f3;
  padding: 30px 0;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 4px;
  text-align: start;
  margin-left: -30px;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 600;
}

a {
  color: black;
}

footer h4 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

footer hr {
  border: 1px black solid;
  border-radius: 10px;
}
footer p {
  font-size: 14px;
}

footer i {
  margin-right: 20px;
  font-size: 20px;
}

footer img {
  margin-top: -50px;
  margin-right: 20px;
}

footer .socials {
  text-align: start;
}

@media (max-width: 760px) {
  footer {
    margin: 10px;
  }
  .copy {
    margin-top: 10px;
  }

  footer img {
    margin-top: -70px;
    margin-right: 20px;
  }

  footer i {
    margin-bottom: 40px;
  }

  footer ul li {
    font-size: 12px;
    font-weight: 400;
  }
  footer h4 {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
  }

  footer p {
    font-size: 13px;
  }
}

/*@media (max-width: 330px) {
  footer h4{

    white-space: wrap;
  }
}*/
