.property-details-container {
  padding: 20px;
  
  border-radius: 8px;
}

.property-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.property-gallery {
  margin-bottom: 20px;
}

.main-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.main-image img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.image-count {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 100;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.property-price {
  margin-bottom: 20px;
}

.property-price h3 {
  font-size: 1.8em;
  color: #000;
}


.property-section, .property-address, .property-description, .property-amenities, .additional-info {
  margin-bottom: 20px;
}

.property-section p, .property-address p, .property-description p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555;
}

.property-section p {
  display: flex;
  align-items: center;
}

.property-section .pp {
  margin-right: 10px;
  color: #4517fb;
}
/* New Styles for Address to Contact Form */
.property-address h3, .property-description h3, .property-amenities h3, .additional-info h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333;
}
.additional-info{
  text-align: end;
}

.property-amenities,
.additional-info {
  
  padding: 20px;
  border-radius: 8px;

  margin-bottom: 20px;
}

.property-address h3,
.property-description h3,
.property-amenities h3,
.additional-info h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333;
}

.property-address p,
.property-description p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555;
}

.property-amenities ul,
.additional-info ul {
  list-style: none;
  padding: 0;
}

.property-amenities ul li,
.additional-info ul li {
  font-size: 1em;
  line-height: 1.5;
  color: #555;
}

.property-amenities,
.additional-info {
  margin-bottom: 20px;
}

.contact-form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-agent,
.contact-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 1;
  margin-right: 10px;
}

.contact-agent {
  margin-right: 10px;
}

.contact-agent h4,
.contact-form h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333;
}

.contact-agent ul {
  list-style: none;
  padding: 0;
}

.contact-agent ul li {
  font-size: 1em;
  line-height: 1.5;
  color: #555;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #4517fb;
  color: white;
  padding: 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #4517fbdd;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .property-details-container {
    padding: 10px;
  }
  .additional-info{
    text-align: start;
  }

  .property-title {
    font-size: 2em;
  }

  .main-image {
    max-width: 100%;
  }

  .property-price h3 {
    font-size: 1.5em;
  }

  .property-section p,
  .property-address p,
  .property-description p {
    font-size: 1em;
  }

  .property-address h3,
  .property-description h3,
  .property-amenities h3,
  .additional-info h3 {
    font-size: 1.5em;
  }

  .property-action button {
    padding: 10px;
    font-size: 1em;
  }

  .contact-agent,
  .contact-form {
    width: 100%;
    margin-right: 0;
  }

  .contact-form-container {
    flex-direction: column;
  }
}
