.property-details-container {
  padding: 20px;
  
  border-radius: 8px;
}

.property-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.property-gallery {
  margin-bottom: 20px;
}

.main-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.main-image img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.image-count {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 100;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.property-price {
  margin-bottom: 20px;
}

.property-price h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.property-details {
  display: flex;
  justify-content: space-between;
}

.property-details .property-section {
  flex-basis: 48%;
}

.property-details .property-section p {
  margin-bottom: 5px;
}

.property-address {
  margin-bottom: 20px;
}

.property-address h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.property-description {
  margin-bottom: 20px;
}

.property-description h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.property-amenities,
.additional-info {
  margin-bottom: 20px;
}

.property-amenities h3,
.additional-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.property-amenities ul,
.additional-info ul {
  list-style-type: none;
  padding: 0;
}

.property-amenities ul li,
.additional-info ul li {
  margin-bottom: 5px;
}

.contact-agent,
.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-agent h3,
.contact-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.agent-details h4 {
  margin-bottom: 5px;
}

.agent-details ul {
  padding: 0;
  list-style-type: none;
  margin-top: 5px;
}

.agent-details ul li {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  .property-details .property-section {
    flex-basis: 100%;
  }
  .property-details-container {
    padding: 30px;
    
    border-radius: 8px;
  }
  
  .contact-agent,
  .contact-form {
    padding: 15px;
  }
}
