.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryContainer h2{
  text-align: left;
}



.galleryContainer .gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryContainer .gallery input[type="radio"] {
  display: none;
}

.galleryContainer .galleryImage {
  display: none;
}

.galleryContainer .gallery input[type="radio"]:checked + .galleryImage {
  display: block;
  margin-bottom: 10px;
}

.galleryContainer .thumbnails {
  display: flex;
  justify-content: center;
}

.galleryContainer .thumbnailImage {
  margin: 0 5px;
  cursor: pointer;
}

.galleryContainer .img-responsive {
  max-width: 150px;
  height: auto;
}


@media (max-width: 485px) {
 .galleryContainer .img-responsive {
    max-width: 100px;
    height: auto;
  }
}/* Description styling */
.pagent .contentwithphoto-text {
  margin-top: 20px;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pagent .contentwithphoto-text h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.5em;
}

.pagent .contentwithphoto-text p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #555;
  font-size: 1em;
}

/* Contact Agent styling */
.pagent .section-t3 {
  margin-top: 30px;
}

.pagent .title-box-d {
  margin-bottom: 20px;
}

.pagent .title-a {
  color: #333;
  font-size: 1.8em;
}

.pagent .contact-agent-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagent .agent-img {
  max-width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
}

.pagent .property-agent {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex: 1;
}

.pagent .property-contact {
 
  padding: 20px;
 
  border-radius: 8px;
  flex: 1;
 
}

.pagent .property-agent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagent .property-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagent .title-agent {
  color: #333;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.pagent .color-text-a {
  color: #555;
}

.pagent .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.pagent .list-unstyled li {
  margin-bottom: 10px;
}

.pagent .socials-a {
  margin-top: 20px;
}

.pagent.socials-a .list-inline {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.pagent .socials-a .list-inline-item {
  margin-right: 10px;
}

.pagent .form-a {
  display: flex;
  flex-direction: column;
}
.pagent .form-a .form-group {
  margin-bottom: 15px;
}

.pagent .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.pagent .form-control-a {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
}

.pagent .btn-a {
  background-color: #4517FB;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto; /* Centering the button */
  display: block; /* Ensuring it's a block element */
}

.pagent .btn-a:hover {
  background-color: #444;
}

/* Responsive styles */
@media (max-width: 768px) {
  .pagent .contact-agent-row {
    flex-direction: column;
  }

 .pagent .property-agent,
 .pagent .property-contact {
    margin: 10px 0;
  }
}
.amenities-summary-section {
  margin-top: 30px;
}

.amenities-section {
  padding-right: 15px;
  flex: 1 0 auto;
}

.summary-section {
  padding-left: 15px;
  flex: 0 1 30%;
}

.title-box-d {
  margin-bottom: 20px;
}

.amenities-list {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 15px;
}

.amenities-list ul {
 
  list-style-type: disc;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.amenities-list li {
  margin-right: 10px;
  
}

.summary-list ul {
  padding: 0;
}

.summary-list li {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.summary-list li:last-child {
  border-bottom: none;
}

.title-a {
  font-size: 24px;
  color: #333;
}

.color-text-a {
  color: #666;
}

.section-t3,
.section-t4 {
  margin-bottom: 15px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .amenities-summary-section {
    flex-direction: column;
  }

  .amenities-section,
  .summary-section {
    padding: 10px;
    flex: 1 0 100%;
    margin-bottom: 20px;
  }

  .summary-section {
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
  }

  .title-a {
    text-align: center;
  }

  .summary-list li {
    justify-content: space-between;
  }
}
