.client.container {
    padding-top: 20px;
  }
  
 
  .client {
    background-color: #dae6ff;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .client h1 {
    color: #161d2c;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .client h3 {
    color: #4517fb;
    font-size: 1rem;
  }
  
  .client .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  
  .client .btn-block {
    width: 100%;
    margin-bottom: 0;
  }
  
  .agency .agent-info {
    margin: 0;
  }
  
  .agent-info h5 {
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 0;
    font-weight: bolder;
  }
  