
  
 .alr .card-body {
    display: flex;
    align-items: center;
  }
  
 .alr .card-body img {
    margin-right: 1rem;
    width: 90px; /* Adjust the width to the desired size */
    height: 90px; /* Adjust the height to the desired size */
  }
  
 .alr .card-body div {
    flex-grow: 1;
  }
  
 .alr .btn-block {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  
 .alr h1, .alr h3 {
    margin-bottom: 1rem;
  }
  .alr-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the gap between images as needed */
  }
  
  .alr-id {
    flex: 1 1 30%; /* Make sure each image takes up roughly one-third of the container */
    max-width: 30%; /* Ensure the images don't exceed one-third of the container width */
    box-sizing: border-box;
  }
  
  /* Media query to handle smaller screens */
  @media (max-width: 1024px) {
    .alr-id {
      flex: 1 1 45%; /* Adjust width for smaller screens */
      max-width: 45%; /* Ensure images don't exceed half of the container width */
    }
  }
  
  /* Media query to handle even smaller screens */
  @media (max-width: 768px) {
    .alr-id {
      flex: 1 1 90%; /* Adjust width for even smaller screens */
      max-width: 90%; /* Ensure images don't exceed full container width */
    }
  }
  

  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container .blue {
    width: 400px; /* Adjust button width as needed */
    text-align: center;
    margin-bottom: 20px;
  }