.agent{
    padding: 15px;
}
.btn-custom{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato';
    font-weight: 900;
}

.contact{
    border: 2px dashed rgba(0, 108, 185, 0.3);}

    .contact-icon{
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato';
    font-weight: 500;
    }

    .contact-icon i{
        margin-right: 9px;
    }


    .agent-title{
        color: rgba(55.25, 55.25, 55.25, 0.80);
font-size: 30px;
font-family: 'Moul';
font-weight: 400;
text-align: start;
margin-bottom: 10px;
    }

    @media (max-width: 390px) {
        .ii{
            margin-bottom: 20px;
        }
    }