.agentcardb .card-box-d {
  border: 1px solid #4517fb;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
height: 100%;
}

.agentcardb .card-box-d:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.agentcardb .card-img-d {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #f8f8f8;
}

.agentcardb .card-img-d img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.agentcardb .card-body-d {
  padding: 20px;
  text-align: left;
}

.title-d {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
}

.title-d .link-two {
  color: #4517fb;
  text-decoration: none;
  cursor: none;
}


.content-d {
  margin: 10px 0;
  color: #666;
}

.info-agents {
  margin: 15px 0;
}

.socials-footer .list-inline {
  padding: 0;
  margin: 0;
}

.socials-footer .list-inline-item {
  margin-right: 10px;
}

.socials-footer .list-inline-item a {
  color: #333;
}

.socials-footer .list-inline-item a:hover {
  color: #4517fb;
}
