.container-block{
  margin: 10px;
}


 .h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 30px;
font-family: 'Limelight';
font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.type {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.fg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.forgot-password {
  color: #ffffff;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffff;
   font-size: 17px;
  
}

.logo{
  color: white;
font-size: 32px;
font-family: 'Limelight';
font-weight: 400;
}

.end p {
  color: white;
  font-size: 20px;
  font-family: "League Spartan";
}

.signup {
  text-decoration: underline;
  border: 1px;
  cursor: pointer;
  color: #fff;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.custom-btn-sign {
  background-color: #6a46fc;
  color: #fff;
  font-size: 19px;
  font-family: "League Spartan";
  font-weight: 800;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px 0;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 40px;
}

.end {
  text-align: center;
  margin-top: 20px;
}


.image-holder img {
  max-width: 100%;
}
.wrapper {
  min-height: 90vh;
  display: flex;
}
.wrapper .image-holder {
  width: 69.9%;
}

.image-holder {
  background: url('../../assets/images/sign.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 10px;
}
.form-inner {
  background: #4517FB;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
  
}

.form-header {
  text-align: center;
  margin-bottom: 39px;
}


.form-group {
  margin-bottom: 26px;
  position: relative;
}


@media (max-width: 1500px) {
  .form-inner {
    display: flex;
    align-items: center;
    
  }
}
@media (max-width: 1199px) {
  .wrapper {
    flex-direction: row;
  }
  .wrapper .image-holder {
    width: 100%;
  
  }
  .wrapper .form-inner {
    width: 100%;
   
  }
  

  .wrapper .image-holder{
    display: flex;
  }
  
}

@media (max-width: 767px) {
  .wrapper .form-inner {
    height: auto;
  }

  .wrapper {
    flex-direction: column;
  }
  .wrapper .image-holder {
    height: auto;
  }
  .image-holder img {
    display: block;
  }
  .form-inner {
    padding: 30px 20px;
  }
  button {
    width: 100%;
  }

  
  
}

@media (max-width: 340px) {
  .forgot-password{
    white-space: nowrap;
    font-size: 15px;
  }

  .checkbox-label{
    white-space: nowrap;
    font-size: 15px;
  }

}
