

.header_section {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 30px;
  font-weight: 900;
  font-family: "Lato";
  color: #4517fb;
  white-space: wrap;
  margin-bottom: 0;
  line-height: 40px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
  top: 0;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  margin: 0px 20px;
  padding: 0;
  font-size: 17px;
  font-family: "Lato";
  font-weight: 500;
  text-align: center;
  position: relative;
}
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  position: relative;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #4517fb;
  border-radius: 50px;
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.custom_nav-container.navbar-expand-lg
  .navbar-nav
  .nav-item
  .nav-link.active::after,
.custom_nav-container.navbar-expand-lg
  .navbar-nav
  .nav-item
  .nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #4517fb;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom_nav-container {
  z-index: 99999;
}

.custom_nav-container .navbar-toggler {
  outline: none;
  border: none;
  max-width: 70px;
}

.custom_nav-container .navbar-toggler .navbar-toggler i {
  font-size: 1.7em;
  color: black;
}

.sign-in {
  background-color: #4517fb;
  border: none;
  margin-top: -10px;
  width: 100%;
  border-radius: 10px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 17px;
  font-family: "Lato";
  font-weight: 500;
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: fixed;
    top: 70px;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #fff;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .navbar-collapse.show {
    transform: translateX(0);
    opacity: 1;
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-left: 20px;
  }

  .navbar-nav button {
    width: 95%;
  }

  .navbar-nav .nav-item {
    margin-bottom: 25px;
    text-align: start;
    max-width: 1px;
    white-space: nowrap;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    background-color: #f0f0f0;
  }
}

@media (max-width: 535px) {
  .navbar-brand {
    font-size: 22px;
    max-width: 100px;
    margin-bottom: 0;
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  .navbar-nav li {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .navbar-nav button {
    margin-top: 10px;
  }
}




.profile-dropdown-toggle {
  display: flex;
  align-items: center;
margin-right: -15px;
}

.profile-image {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  margin-right: 0px; 
}


.drop{
  font-size: 30px;
 margin: 0;
 color: #000;
 margin-left: 4px;
}

.header_section  .dropdown-menu{
  margin-left: -10px;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  /* background-color: var(--bs-dropdown-link-active-bg); */
}



.dropdown-item.active, .dropdown-item:active {
  color: #4517fb59;
  text-decoration: none;
  background-color: #fff; 
}

@media (max-width: 760px) {
  .drop{
    margin-left: 10px;
  }
}