.faq-title{
    color: #4517fb;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.accordion-item {
    margin-bottom: 15px; /* Add spacing between items */
  }
  
  .accordion-button {
    transition: background-color 0.3s;
  }
  
  .accordion-button:hover {
    background-color: #4517fb; /* Change hover color */
    color: #fff;
  }