@import url("https://fonts.googleapis.com/css2?family=Emblema+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Limelight&family=Moul&display=swap");
body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenth {
  flex: 1;
}
.brandblue {
  color: #4517fb;
}

.border-gray {
  border: 1px solid rgb(194, 194, 194);
  border-radius: 10px;
}
