.homecard {
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-left: 200px;
}

.input-group {
  background-color: #fff;
  border-radius: 10px;
}

.home-title {
  margin-top: 4px;
  background-color: #E4DFF6;
  border: 1px solid #B19CF4;
  padding: 10px 30px 10px 40px;
  border-radius: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.home-inner {
  font-size: 30px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
}

.dropdown {
  position: relative;
}

.homecard .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  z-index: 999;
  top: 100%;
  left: 0;
  max-height: 200px;
  overflow-y: auto;
  --bs-dropdown-min-width: 100px !important;
}

.input-group-text {
  border: none;
  background-color: transparent;
  color: #BEBEBE;
}

.input-group .form-control {
  border: none;
  border-radius: 10px;
}

.dropdown .btn {
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  
}

.dropdown .btn:hover {
  color: #000;
  background-color: transparent;
}

.dropdown .dropdown-menu .dropdown-item {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  white-space: wrap; 
 
}

.dropdown .dropdown-menu .dropdown-item:hover {
  color: #007bff;
}

.dropdown-item {
  border-bottom: 1px solid #f3f4f6;
  padding: 8px 10px; /* Adjust the padding as needed */
}

.dropdown-item:last-child {
  border-bottom: none; /* Remove the border from the last item */
}

.options {
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 400px;
}

.option {
  font-size: 16px;
  color: #000;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option:hover,
.option.selected {
  border-bottom: 3px solid #007bff;
  border-radius: 1px;
  font-weight: bold;
}

.dropdown-menu.show {
  display: block;
}

.input-group-wrapper {
  display: flex;
  align-items: center;
}

.input-group-wrapper .input-group {
  flex: 1;
}

.find {
  border-left: 0;
  background-color: #4517FB;
  border: none;
  color: #fff;
  border-radius: 10px;
  white-space: nowrap;
  padding: 10px 20px;
}

.dropdown-group {
  margin-top: 10px; /* Adjust as needed */
  justify-content: space-evenly;
  max-width: 600px;
}

.homecard .col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .homecard {
    width: 100%;
    margin-left: 0;
  }

  .options {
    max-width: 100%;
  }

  .min {
    max-width: 100%;
  }

  .d-grid.grid-template-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .dropdown .btn {
    margin-bottom: 8px;
    width: 100% !important; /* Ensure the dropdown button takes full width on smaller screens */
  }

  .options {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .option {
    flex: 1 0 auto;
    padding: 8px 4px;
    text-align: center;
  }

  .dropdown .dropdown-menu {
    width: 100% !important; /* Ensure the dropdown menu takes full width on smaller screens */
  }

  .dropdown .dropdown-menu a {
    white-space: normal;
  }

  .input-group-wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .input-group {
    width: 100%;
    margin-left: 0;
  }

  .find {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .homecard .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
  }

  .home-title {
    margin-bottom: 30px;
  }

  .home-title {
    margin-top: 8px;
    text-align: center;
  }
}

.sel .image-container {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
  border-radius: 20px;
}
.sel .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.sel .image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.80) 100%);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.sel .image-text h5,
.sel .image-text p {
  margin: 0;
}

.sel .image-text h5 {
  color: white;
  font-size: 40px;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: 20px;
}


.exp, .sel{
  margin-top: 120px;
}

.sel{
  margin-top: 60px;
}

@media (max-width: 760px) {
  .exp, .sel{
    margin-top: 30px;
  }
}
.exp h1, .sel h1{
  color: #0C0D0D;
font-size: 39px;
font-family: Open Sans;
font-weight: 700;
}

.exp p, .sel p{
  color: #0C0D0D;
font-size: 18px;
font-family: Open Sans;
font-weight: 400;
}

.exp .card{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  
}

.exp .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 20px;
}

.exp .card-img-top {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.exp .card-title {
    margin-top: 20px;
    color: black;
font-size: 25px;
font-family: Open Sans;
font-weight: 600;
  }

  .exp .card-text {
    margin-top: 20px;
    flex-grow: 1;
    color: black;
font-size: 16px;
font-family: Open Sans;
font-weight: 400;
  }


 .exp .text{
    color: #4617FB;
font-size: 16px;
font-family: 'Open Sans';
font-weight: 600;
  }

  
.sel  .text{
    color: #FFF;
font-size: 16px;
font-family: 'Open Sans';
font-weight: 600;
  }


  
.landingCard img {
  width: 100%;
  max-width: 180px; 
  height: auto;
  margin-bottom: 30px; 
}

.landingCard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFFFFF;
  padding: 8px; 
  border-radius: 12px; 
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 25px; 
  padding-bottom: 25px; 
  margin-left: 25px; 
  margin-right: 25px; 
  height: 370px;
  transition: transform 0.3s ease;
}

.landingCard-item:hover {
  transform: translateY(-5px);
}

.enter {
  background-color: transparent;
  border-radius: 18px; 
  border: 2px rgba(68.82, 23.33, 250.75, 0.80) solid; 
  padding-left: 25px; 
  padding-right: 25px; 
  padding-top: 8px; 
  padding-bottom: 8px; 
  color: #4517FB;
  font-size: 20px; 
  font-family: 'League Spartan';
  font-weight: 700;
}

.enter:hover {
  background-color: #4517FB;
  color: #FFFFFF;
}

.landingTopics h4 {
  color: black;
  font-size: 21px; 
  font-family: 'Moul';
  font-weight: 400;
  margin-bottom: 18px; 
}

.landingTopics p {
  color: black;
  font-size: 15px; 
  font-family: 'League Spartan';
  font-weight: 400;
  margin-bottom: 35px; 
}


.landingCard {
  margin: 0px;
  justify-content: center;
  background-color: #f0f0f0;
  width: 100%;
  padding: 18px; 
}

.landingcontact {
  background-color: #FFFFFF;
}

.col-lg-4 {
  padding: 8px; 
}

.landingContact {
  background-color: #4517FB;
  border-radius: 8px; 
}

.landingContact p {
  color: white;
  font-size: 21px; 
  font-family: 'League Spartan';
  font-weight: 400;
}

.landingContact h1 {
  color: white;
  font-size: 35px; 
  font-family: 'Limelight';
  font-weight: 400;
}

.landingContact img {
  border-radius: 4px; 
}

.landingicon {
  background-color: #4517FB;
  padding-top: 8px; 
  padding-bottom: 8px; 
  padding-left: 25px; 
  padding-right: 25px; 
  color: white;
  font-size: 18px; 
  font-family: 'League Spartan';
  font-weight: 800;
  border-radius: 8px; 
  border: 2px white solid; 
  text-decoration: none;
}

.landingicon:hover {
  background-color: #FFFFFF;
  color: #4517FB;
}

@media (max-width: 390px) {
  .landingContact h1 {
    font-size: 28px; 
  }
}